<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:insert="~{/templates/skeleton-theme :: page(#{menu.education}, 'education')}"
      th:lang="${#locale.language}">
<body>

<ol th:fragment="breadcrumb" class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page" th:text="#{menu.education}"></li>
    <li class="breadcrumb-item active" aria-current="page" th:text="#{menu.dashboard}"></li>
</ol>

<div th:fragment="content">

</div>

<div th:fragment="scripts">
</div>

</body>
</html>
