<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:insert="~{/templates/skeleton-theme :: page(#{menu.ticket},'ticket')}"
      th:lang="${#locale.language}">
<body>

<ol th:fragment="breadcrumb" class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page" th:text="#{menu.ticket}"></li>
    <li class="breadcrumb-item active" aria-current="page" th:text="#{menu.overview}"></li>
</ol>

<div th:fragment="content">
    <table id="ticket-table" class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{generic.type}"></th>
            <th th:text="#{equipment.category}"></th>
            <th th:text="#{generic.status}"></th>
            <th th:text="#{generic.equipment}"></th>
            <th th:text="#{generic.carried_in_date}"></th>
            <th th:text="#{generic.carried_out_date}"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div th:fragment="scripts">
    <script type="text/javascript" th:src="@{/assets/js/ticket/all.js}"></script>
</div>

</body>
</html>
